In [9]:
import numpy as np 
import pandas as pd
from IPython.display import display
sprt_df = pd.read_csv(r"sport_athletes.csv")
display(sprt_df)

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,8/8/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/8/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,1/8/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/8/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,5/8/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,6/8/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/8/2000
15,China,Swimming,Sun Yang,200,90,3,8/8/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,1/8/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,5/8/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/8/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,5/8/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,8/8/2016
25,UK,Cycling,Chris Froome,180,70,4,8/8/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/8/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,5/8/2016
29,UK,Cycling,Geraint Thomas,183,71,4,8/8/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/8/2020
31,USA,Gymnastics,Simone Biles,142,48,5,5/8/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/8/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/8/2016

In [23]:
#1--a,b,c
sprt_df_max = sprt_df.groupby('Sport Type')[['Weight(kg)', 'Height(cm)', 'Wins']].max().rename(columns={'Weight(kg)': 'max_weight', 'Height(cm)':'max_height', 'Wins':'max_wins'})
display(sprt_df_max)

                 max_weight  max_height  max_wins
Sport Type
Basketball              147         216         3
Cycling                  72         186         5
Gymnastics               52         160         5
Soccer                   83         187         3
Swimming                 90         200         5
Tennis                   85         188         4
Track and Field          94         195         6

In [19]:
#2
display(sprt_df.groupby('Sport Type')['Weight(kg)'].min().sort_values())

Sport Type
Gymnastics         45
Soccer             57
Track and Field    57
Swimming           58
Cycling            68
Tennis             70
Basketball         96
Name: Weight(kg), dtype: int64

In [57]:
#3
display(sprt_df.sort_values(by=['Sport Type', 'Height(cm)'], ascending=[True, False])
.groupby('Sport Type').head(2))

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
3,USA,Basketball,Kevin Durant,208,109,3,10/8/2016
28,Slovenia,Cycling,Primoz Roglic,186,68,3,5/8/2016
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/8/2020
33,USA,Gymnastics,Aly Raisman,160,52,3,10/8/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
15,China,Swimming,Sun Yang,200,90,3,8/8/2012
14,Australia,Swimming,Ian Thorpe,196,85,4,11/8/2000
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/8/2020
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984

In [117]:
#4a
display(sprt_df.groupby(['Country', 'Sport Type']).max())
#4b
display(sprt_df.groupby(['Country', 'Sport Type']).max().loc[('USA', 'Basketball')])
#4c
display(sprt_df.groupby(['Country', 'Sport Type']).max().xs(level ='Sport Type', key = 'Soccer'))
#4d
display(sprt_df[sprt_df['Sport Type'].isin(['Soccer','Tennis'])].groupby(['Country', 'Sport Type']).max(numeric_only=True).sort_values(by = 'Sport Type'))
#4e
display(sprt_df.groupby(['Country', 'Sport Type']).max(numeric_only=True).swaplevel().sort_index(level=['Sport Type', 'Country']))
#4f
display(sprt_df.groupby(['Country', 'Sport Type']).agg({'Wins': ['min', 'max', 'mean', 'std'], 'Height(cm)': ['min', 'max', 'mean', 'std']}))

                                     Athlete Name  Height(cm)  Weight(kg)  \
Country     Sport Type
Argentina   Soccer                   Lionel Messi         170          69
Australia   Swimming                   Ian Thorpe         196          85
Belgium     Cycling                   Eddy Merckx         181          72
Brazil      Soccer                           Pel√©         174          72
China       Swimming                     Sun Yang         200          90
France      Soccer                Zinedine Zidane         185          80
Jamaica     Track and Field            Usain Bolt         195          94
Netherlands Cycling          Anna van der Breggen         175          68
Portugal    Soccer              Cristiano Ronaldo         187          83
Romania     Gymnastics             Nadia Comaneci         155          50
Serbia      Tennis                 Novak Djokovic         188          84
Slovenia    Cycling                 Tadej Pogacar         186          69
Spain       Tennis                   Rafael Nadal         185          85
Switzerland Tennis                  Roger Federer         185          85
UK          Cycling                Geraint Thomas         183          71
            Track and Field              Mo Farah         176          65
USA         Basketball           Shaquille O'Neal         216         147
            Gymnastics               Simone Biles         160          52
            Soccer                  Megan Rapinoe         168          62
            Swimming               Michael Phelps         193          88
            Tennis                Serena Williams         175          70
            Track and Field     Florence Griffith         188          81

                             Wins Olympic Date
Country     Sport Type
Argentina   Soccer              2    11/8/2016
Australia   Swimming            4    11/8/2000
Belgium     Cycling             5   15/08/1980
Brazil      Soccer              3   18/08/1970
China       Swimming            3     8/8/2012
France      Soccer              3   17/08/1998
Jamaica     Track and Field     6   22/08/2012
Netherlands Cycling             4    10/8/2020
Portugal    Soccer              2   25/08/2008
Romania     Gymnastics          5   18/08/1976
Serbia      Tennis              4    10/8/2020
Slovenia    Cycling             3     5/8/2016
Spain       Tennis              3     5/8/2016
Switzerland Tennis              2   28/07/2008
UK          Cycling             4     8/8/2012
            Track and Field     5     5/8/2016
USA         Basketball          3     8/8/1992
            Gymnastics          5     5/8/2016
            Soccer              2     5/8/2020
            Swimming            5     6/8/2016
            Tennis              4     1/8/2012
            Track and Field     4     8/8/2016

Athlete Name    Shaquille O'Neal
Height(cm)                   216
Weight(kg)                   147
Wins                           3
Olympic Date            8/8/1992
Name: (USA, Basketball), dtype: object

                Athlete Name  Height(cm)  Weight(kg)  Wins Olympic Date
Country
Argentina       Lionel Messi         170          69     2    11/8/2016
Brazil                  Pel√©         174          72     3   18/08/1970
France       Zinedine Zidane         185          80     3   17/08/1998
Portugal   Cristiano Ronaldo         187          83     2   25/08/2008
USA            Megan Rapinoe         168          62     2     5/8/2020

                        Height(cm)  Weight(kg)  Wins
Country     Sport Type
Argentina   Soccer             170          69     2
Brazil      Soccer             174          72     3
France      Soccer             185          80     3
Portugal    Soccer             187          83     2
USA         Soccer             168          62     2
Serbia      Tennis             188          84     4
Spain       Tennis             185          85     3
Switzerland Tennis             185          85     2
USA         Tennis             175          70     4

                             Height(cm)  Weight(kg)  Wins
Sport Type      Country
Basketball      USA                 216         147     3
Cycling         Belgium             181          72     5
                Netherlands         175          68     4
                Slovenia            186          69     3
                UK                  183          71     4
Gymnastics      Romania             155          50     5
                USA                 160          52     5
Soccer          Argentina           170          69     2
                Brazil              174          72     3
                France              185          80     3
                Portugal            187          83     2
                USA                 168          62     2
Swimming        Australia           196          85     4
                China               200          90     3
                USA                 193          88     5
Tennis          Serbia              188          84     4
                Spain               185          85     3
                Switzerland         185          85     2
                USA                 175          70     4
Track and Field Jamaica             195          94     6
                UK                  176          65     5
                USA                 188          81     4

                            Wins                        Height(cm)       \
                             min max      mean      std        min  max
Country     Sport Type
Argentina   Soccer             2   2  2.000000      NaN        170  170
Australia   Swimming           4   4  4.000000      NaN        196  196
Belgium     Cycling            5   5  5.000000      NaN        181  181
Brazil      Soccer             3   3  3.000000  0.00000        163  174
China       Swimming           3   3  3.000000      NaN        200  200
France      Soccer             3   3  3.000000      NaN        185  185
Jamaica     Track and Field    6   6  6.000000      NaN        195  195
Netherlands Cycling            4   4  4.000000      NaN        175  175
Portugal    Soccer             2   2  2.000000      NaN        187  187
Romania     Gymnastics         5   5  5.000000      NaN        155  155
Serbia      Tennis             4   4  4.000000      NaN        188  188
Slovenia    Cycling            3   3  3.000000  0.00000        184  186
Spain       Tennis             3   3  3.000000      NaN        185  185
Switzerland Tennis             2   2  2.000000      NaN        185  185
UK          Cycling            4   4  4.000000  0.00000        180  183
            Track and Field    5   5  5.000000      NaN        176  176
USA         Basketball         1   3  2.200000  0.83666        198  216
            Gymnastics         3   5  3.500000  1.00000        142  160
            Soccer             2   2  2.000000      NaN        168  168
            Swimming           3   5  4.000000  1.00000        180  193
            Tennis             4   4  4.000000      NaN        175  175
            Track and Field    3   4  3.666667  0.57735        165  188


                                   mean        std
Country     Sport Type
Argentina   Soccer           170.000000        NaN
Australia   Swimming         196.000000        NaN
Belgium     Cycling          181.000000        NaN
Brazil      Soccer           168.500000   7.778175
China       Swimming         200.000000        NaN
France      Soccer           185.000000        NaN
Jamaica     Track and Field  195.000000        NaN
Netherlands Cycling          175.000000        NaN
Portugal    Soccer           187.000000        NaN
Romania     Gymnastics       155.000000        NaN
Serbia      Tennis           188.000000        NaN
Slovenia    Cycling          185.000000   1.414214
Spain       Tennis           185.000000        NaN
Switzerland Tennis           185.000000        NaN
UK          Cycling          181.500000   2.121320
            Track and Field  176.000000        NaN
USA         Basketball       205.200000   7.563068
            Gymnastics       152.250000   8.015610
            Soccer           168.000000        NaN
            Swimming         188.000000   7.000000
            Tennis           175.000000        NaN
            Track and Field  179.333333  12.503333

In [123]:
#5
new_rows = pd.DataFrame({ 'Country': ['Canada', 'USA'], 'Sport Type': ['Hockey', 'Skiing'],
'Athlete Name': ['Wayne Gretzky', 'Lindsey Vonn'], 'Height(cm)': [183, 172],
'Weight(kg)': [84, 68], 'Wins': [3, 4], 'Olympic Date': ['01/02/2002', '12/02/2010'] }, index = [36,37])
display(pd.concat([sprt_df, new_rows], axis=0))

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,8/8/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/8/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,1/8/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/8/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,5/8/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,6/8/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/8/2000
15,China,Swimming,Sun Yang,200,90,3,8/8/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,1/8/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,5/8/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/8/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,5/8/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,8/8/2016
25,UK,Cycling,Chris Froome,180,70,4,8/8/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/8/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,5/8/2016
29,UK,Cycling,Geraint Thomas,183,71,4,8/8/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/8/2020
31,USA,Gymnastics,Simone Biles,142,48,5,5/8/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/8/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/8/2016
36,Canada,Hockey,Wayne Gretzky,183,84,3,01/02/2002
37,USA,Skiing,Lindsey Vonn,172,68,4,12/02/2010

In [34]:
#6
import numpy as np 
import pandas as pd
from IPython.display import display
sprt_df = pd.read_csv(r"sport_athletes.csv")
sprt_df['Olympic Date'] = sprt_df['Olympic Date'].str.strip()
sprt_df['Olympic Date'] = pd.to_datetime(sprt_df['Olympic Date'],format='mixed')
display(sprt_df)
sprt_df.set_index('Olympic Date', inplace=True)
display(sprt_df[sprt_df['Wins'] > 0].resample(rule='D').sum())

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,1992-08-08
1,USA,Basketball,LeBron James,206,113,2,2008-08-15
2,USA,Basketball,Kobe Bryant,198,96,2,2012-08-24
3,USA,Basketball,Kevin Durant,208,109,3,2016-10-08
4,USA,Basketball,Shaquille O'Neal,216,147,1,2000-08-22
5,Brazil,Soccer,Pel√©,174,72,3,1970-08-18
6,Brazil,Soccer,Marta,163,57,3,2004-01-08
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,2008-08-25
8,Argentina,Soccer,Lionel Messi,170,69,2,2016-11-08
9,France,Soccer,Zinedine Zidane,185,80,3,1998-08-17
10,USA,Soccer,Megan Rapinoe,168,62,2,2020-05-08
11,USA,Swimming,Michael Phelps,193,88,5,2004-08-16
12,USA,Swimming,Katie Ledecky,180,58,4,2012-08-25
13,USA,Swimming,Caeleb Dressel,191,88,3,2016-06-08
14,Australia,Swimming,Ian Thorpe,196,85,4,2000-11-08
15,China,Swimming,Sun Yang,200,90,3,2012-08-08
16,Switzerland,Tennis,Roger Federer,185,85,2,2008-07-28
17,USA,Tennis,Serena Williams,175,70,4,2012-01-08
18,Spain,Tennis,Rafael Nadal,185,85,3,2016-05-08
19,Serbia,Tennis,Novak Djokovic,188,84,4,2020-10-08
20,Jamaica,Track and Field,Usain Bolt,195,94,6,2012-08-22
21,USA,Track and Field,Carl Lewis,188,81,4,1984-08-15
22,UK,Track and Field,Mo Farah,176,65,5,2016-05-08
23,USA,Track and Field,Florence Griffith,165,57,4,1988-08-18
24,USA,Track and Field,Ashton Eaton,185,77,3,2016-08-08
25,UK,Cycling,Chris Froome,180,70,4,2012-08-08
26,Belgium,Cycling,Eddy Merckx,181,72,5,1980-08-15
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,2020-11-08
28,Slovenia,Cycling,Primoz Roglic,186,68,3,2016-05-08
29,UK,Cycling,Geraint Thomas,183,71,4,2008-08-08
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,2020-10-08
31,USA,Gymnastics,Simone Biles,142,48,5,2016-05-08
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,1976-08-18
33,USA,Gymnastics,Aly Raisman,160,52,3,2012-10-08
34,USA,Gymnastics,Shawn Johnson,157,50,3,2008-08-15
35,USA,Gymnastics,Gabby Douglas,150,45,3,2016-11-08

               Country Sport Type   Athlete Name  Height(cm)  Weight(kg)  Wins
Olympic Date
1970-08-18      Brazil     Soccer           Pel√©         174          72     3
1970-08-19           0          0              0           0           0     0
1970-08-20           0          0              0           0           0     0
1970-08-21           0          0              0           0           0     0
1970-08-22           0          0              0           0           0     0
...                ...        ...            ...         ...         ...   ...
2020-11-04           0          0              0           0           0     0
2020-11-05           0          0              0           0           0     0
2020-11-06           0          0              0           0           0     0
2020-11-07           0          0              0           0           0     0
2020-11-08    Slovenia    Cycling  Tadej Pogacar         184          69     3

[18346 rows x 6 columns]

In [42]:
#7
import numpy as np 
import pandas as pd
from IPython.display import display
smoke_df = pd.read_csv(r"athletes_smoking.csv")
display(smoke_df)
display(pd.merge(sprt_df, smoke_df, on='Athlete Name', how='inner'))
display(pd.merge(sprt_df, smoke_df, on='Athlete Name', how='left'))

         Athlete Name Smoking
0      Michael Jordan      No
1        LeBron James      No
2         Kobe Bryant     Yes
3          Usain Bolt      No
4        Simone Biles      No
5       Wayne Gretzky     Yes
6        Lindsey Vonn      No
7        Rafael Nadal      No
8        Lionel Messi     Yes
9   Cristiano Ronaldo      No
10      Megan Rapinoe      No
11       Kevin Durant      No
12   Shaquille O'Neal      No
13         Carl Lewis     Yes
14         Ian Thorpe      No

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Smoking
0,USA,Basketball,Michael Jordan,198,98,3,No
1,USA,Basketball,LeBron James,206,113,2,No
2,USA,Basketball,Kobe Bryant,198,96,2,Yes
3,USA,Basketball,Kevin Durant,208,109,3,No
4,USA,Basketball,Shaquille O'Neal,216,147,1,No
5,Brazil,Soccer,Pel√©,174,72,3,NaN
6,Brazil,Soccer,Marta,163,57,3,NaN
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,No
8,Argentina,Soccer,Lionel Messi,170,69,2,Yes
9,France,Soccer,Zinedine Zidane,185,80,3,NaN
10,USA,Soccer,Megan Rapinoe,168,62,2,No
11,USA,Swimming,Michael Phelps,193,88,5,NaN
12,USA,Swimming,Katie Ledecky,180,58,4,NaN
13,USA,Swimming,Caeleb Dressel,191,88,3,NaN
14,Australia,Swimming,Ian Thorpe,196,85,4,No
15,China,Swimming,Sun Yang,200,90,3,NaN
16,Switzerland,Tennis,Roger Federer,185,85,2,NaN
17,USA,Tennis,Serena Williams,175,70,4,NaN
18,Spain,Tennis,Rafael Nadal,185,85,3,No
19,Serbia,Tennis,Novak Djokovic,188,84,4,NaN
20,Jamaica,Track and Field,Usain Bolt,195,94,6,No
21,USA,Track and Field,Carl Lewis,188,81,4,Yes
22,UK,Track and Field,Mo Farah,176,65,5,NaN
23,USA,Track and Field,Florence Griffith,165,57,4,NaN
24,USA,Track and Field,Ashton Eaton,185,77,3,NaN
25,UK,Cycling,Chris Froome,180,70,4,NaN
26,Belgium,Cycling,Eddy Merckx,181,72,5,NaN
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,NaN
28,Slovenia,Cycling,Primoz Roglic,186,68,3,NaN
29,UK,Cycling,Geraint Thomas,183,71,4,NaN
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,NaN
31,USA,Gymnastics,Simone Biles,142,48,5,No
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,NaN
33,USA,Gymnastics,Aly Raisman,160,52,3,NaN
34,USA,Gymnastics,Shawn Johnson,157,50,3,NaN
35,USA,Gymnastics,Gabby Douglas,150,45,3,NaN